body{
    margin: 0;
    padding: 0;
}
.header{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_btn{
    width: 100px;
    height: 25px;
    margin-left: 50px;
}
.wrap {
    width: 100%;
    height: 50px;
    background-color: red;

}
.linkToHome{
    color: white;
    display: inline-block;
    width: 100px;
    height: 20px;
    text-align: center;
    background-color: deepskyblue;
    text-decoration: none;
    padding: 10px;
}
.main{
    padding-left: 15px;
}