body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_btn{
    width: 100px;
    height: 25px;
    margin-left: 50px;
}
.wrap {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;

}
.heading{
    text-align: center;
}
.formContainer{
    width: 400px;
    /*height: 300px;*/
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    padding: 15px 0;
}
.wrapForm{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
input{
    margin: 10px;
}
input:focus{
    outline: none;
}
.inputInfo{
    width: 200px;
}
.inputSubmit{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid cornflowerblue;
}