<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Error</title>
    <link rel="stylesheet" th:href="@{/css/404.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <a th:href="@{/}">
            <button class="home_btn">Home</button>
        </a>
        <button class="profile_btn">Profile</button>
    </div>
    <div class="main">
        <h1>500</h1>
        <h2>INTERNAL SERVER ERROR...</h2>
        <p>Error !!! Server is error</p>
    </div>

</div>
</body>
</html>