<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/course_teacher.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="header">
    <button class="home_btn">
      Home
    </button>

    <div class="dropdown">
      <button class="profile_btn">
        Profile
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="#">Help</a>
        <a href="#">Log out</a>
      </div>
    </div>

  </div>
  <div>
    <div class="infoClass">
      <div>
        <h1>Tên lớp : </h1>
        <span>ELE0013</span>
      </div>
      <div>
        <h3>Tên Giảng viên :</h3>
        <span>Đặng Duy Quyền</span>
      </div>
    </div>
    <div class="listClass">
      <table class="w3-table-all list">
        <thead>
        <tr class="w3-blue">
          <th>Tên</th>
          <th>MSV</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Hiếu</td>
          <td>B20DCCN259</td>

        </tr>
        <tr>
          <td>Quân</td>
          <td>B20DCCN259</td>

        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr><tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        <tr>
          <td>Mạnh</td>
          <td>B20DCCN259</td>
        </tr>
        </tbody>
      </table>
    </div>

    <table class="w3-table-all exam">
      <thead>
      <tr class="w3-blue">
        <th>Tên bài kiểm tra </th>
        <th>Trạng thái</th>
        <th>Số học sinh đã tham gia</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <a href="./examination.html">
            Kiểm tra cuối kì
          </a>
        </td>
        <td>Chưa làm</td>
        <td>37</td>
      </tr>
      <tr>
        <td>
          <a href="./examination.html">
            Kiểm tra cuối kì
          </a>
        </td>
        <td>Chưa làm</td>
        <td>37</td>
      </tr>
      <tr>
        <td>
          <a href="./examination.html">
            Kiểm tra cuối kì
          </a>
        </td>
        <td>Chưa làm</td>
        <td>37</td>
      </tr>

      </tbody>


    </table>
      <div class="processorWrap">
          <h1 class="headingWaitProcess">Danh sách sinh viên chờ duyệt</h1>
          <table class="w3-table-all processor">
              <thead>
              <tr class="w3-blue">
                  <th>Tên sinh viên</th>
                  <th>Email</th>
                  <th>Lựa chọn</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>Vũ Tiến Hải</td>
                  <td>vutienhai202@gmail.com</td>
                  <td>
                      <button class="button button1">Đồng ý</button>
                      <button class="button button2">Huỷ</button>
                  </td>
              </tr>
              <tr>
                  <td>Vũ Tiến Hải</td>
                  <td>vutienhai202@gmail.com</td>
                  <td>
                      <button class="button button1">Đồng ý</button>
                      <button class="button button2">Huỷ</button>
                  </td>
              </tr>
              <tr>
                  <td>Vũ Tiến Hải</td>
                  <td>vutienhai202@gmail.com</td>
                  <td>
                      <button class="button button1">Đồng ý</button>
                      <button class="button button2">Huỷ</button>
                  </td>
              </tr>

              </tbody>


          </table>
        <table class="w3-table-all processor">
          <thead>
          <tr class="w3-blue">
            <th>Bài kiểm tra</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Kiểm tra cuối kì</td>
            <td>
              <button class="button button1">Thêm bài kiểm tra</button>
            </td>
          </tr>
          <tr>
            <td>Kiểm tra cuối kì</td>
            <td>
              <button class="button button1">Thêm bài kiểm tra</button>
            </td>
          </tr>
          <tr>
            <td>Kiểm tra cuối kì</td>
            <td>
              <button class="button button1">Thêm bài kiểm tra</button>
            </td>
          </tr>

          </tbody>


        </table>
      </div>

  </div>

</div>
</body>
</html>