<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <title th:text="${exam.title}">Bài kiểm tra:</title>
</head>
<body>
<header class="text-center">
    <h1 th:text="${'Bài kiểm tra: ' + exam.title}"></h1>
    <h4 th:text="${'Thời gian diễn ra: ' + startDate + ' đến ' + endDate}"></h4>
    <h5 th:text="${'Thời gian làm bài: ' + exam.totalTime / 60 + ' phút'}"></h5>
    <p th:text="${exam.description}"></p>
</header>

<!-- content -->

<div class="container text-center">
    <div th:switch="${role}">
        <div th:case="'TEACHER'">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-target="#questionModal"
                    onclick="$('#questionModal').show()">
                Thêm câu hỏi
            </button>
            <!-- Modal -->
            <div class="modal" id="questionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="questionModalLabel">Thêm câu hỏi</h1>
                        </div>
                        <div class="modal-body">
                            <div>
                                <span class="text-danger d-none">Có lỗi</span>
                                <h4>Câu hỏi</h4>
                                <textarea id="q-des" class="form-control"></textarea>
                            </div>
                            <div class="mt-2">
                                <h5>Các đáp án </h5>
                                <ul class="text-left">
                                    <li>
                                        Đáp án 1: <input class="form-control q-ans">
                                    </li>
                                    <li>
                                        Đáp án 2: <input class="form-control q-ans">
                                    </li>
                                    <li>
                                        Đáp án 3: <input class="form-control q-ans">
                                    </li>
                                    <li>
                                        Đáp án 4: <input class="form-control q-ans">
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-1">
                                <h5>Đáp án đúng</h5>
                                <select id="q-correct">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    onclick="$('#questionModal').hide()">Huỷ</button>
                            <button type="button" class="btn btn-primary" onclick="postQuestion()">Thêm</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question list -->
            <div class="mt-3">
                <ul th:each="question: ${questions}" class="list-group">
                    <li class="list-group-item question mt-5 pb-5" th:data-description="${question.description}"
                        th:data-answer="${question.answer}" th:data-correct="${question.correctAnswer}"
                        th:data-role="${role}" th:data-id="${question.id}"
                    >
                    </li>
                </ul>
            </div>
            <script th:inline="javascript">
                    /*<![CDATA[*/
                    var examination = [[${exam}]];
                    /*]]>*/
                </script>
            <script type="text/javascript">
                    function postQuestion(){
                        description = $('#q-des').val();
                        answers = $('.form-control.q-ans');
                        answer = [...answers.map((idx, answer) => answer.value)].join('#~~~#');
                        correctAnswer = $('#q-correct').val();
                        question = {
                            description,
                            answer,
                            correctAnswer,
                            examination,
                        }
                        fetch("/api/question/add", {
                            method: 'POST',
                            headers: {
                              'Accept': 'application/json',
                              'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(question),
                        }).then(res => {
                            if(res.ok){
                                $('#questionModal').hide();
                                $('#questionModal .text-danger').addClass('d-none');
                            }else{
                                $('#questionModal .text-danger').removeClass('d-none');
                            }
                        });
                    }
                </script>
        </div>
        <div th:case="'STUDENT'">
            <h1>student</h1>
        </div>
    </div>
</div>
<form class="">

</form>
</body>
<script type="text/javascript">
    deleteQuestion = (id) => {
        fetch(`/api/question/delete/${id}`, {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'DELETE',
        }).then(res => {
            if(res.ok) $(`[data-id="${id}"]`).hide();
            else alert("Có lỗi");
        });
    }
    updateQuestion = (id) => {
         card = $(`#q-id-${id}`);
         description = card.find('textarea').val();
         answers = card.find('.q-ans');
         answer = [...answers.map((idx, answer) => answer.value)].join('#~~~#');
         correctAnswer = card.find('.q-correct').val();
         question = {
            id,
            description,
            answer,
            correctAnswer,
            examination,
        }
        fetch(`/api/question/update/${id}`, {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'PUT',
            body: JSON.stringify(question),
        }).then(res => {
            if(res.ok){
                alert("Thay đổi thành công");
            }
            else alert("Có lỗi");
        });
    }
    function renderQuestion(ele, id, role, des, answer, correct){
        answers = answer.split('#~~~#');
        if(role==='TEACHER'){
            html = `
            <div class="card" id="q-id-${id}">
              <div>
               <span class="text-danger d-none">Có lỗi</span>
                <h4>Câu hỏi</h4>
                <textarea class="q-des form-control">${des ? des : ""}</textarea>
              </div>
              <ul class="text-left list-group">
                <li class="list-group-item">
                    Đáp án 1: <input class="form-control q-ans" value="${answers[0]}">
                </li>
                <li class="list-group-item">
                    Đáp án 2: <input class="form-control q-ans" value="${answers[1]}">
                </li>
                <li class="list-group-item">
                    Đáp án 3: <input class="form-control q-ans" value="${answers[2]}">
                </li>
                <li class="list-group-item">
                    Đáp án 4: <input class="form-control q-ans" value="${answers[3]}">
                </li>
            </ul>
            <h5>Đáp án đúng</h5>
            <select class="q-correct" value="${correct}">
                <option ${correct == 1 ? 'selected' : ''}>1</option>
                <option ${correct == 2 ? 'selected' : ''}>2</option>
                <option ${correct == 3 ? 'selected' : ''}>3</option>
                <option ${correct == 4 ? 'selected' : ''}>4</option>
            </select>

            <button type="button" class="mt-3 btn btn-primary" onclick="updateQuestion(${id})">Lưu</button>
            <button type="button" class="btn btn-danger" onclick="deleteQuestion(${id})">Xoá</button>

            </div>
            `;
            ele.html(html);
        }else if(role==='STUDENT'){
        }
    }
    function renderQuestions(){
        $('.question').each(function(){
            q = $(this);
            role = q.attr('data-role');
            des = q.attr('data-description');
            answer = q.attr('data-answer');
            correct = q.attr('data-correct');
            id = q.attr('data-id');
            renderQuestion(q, id, role, des, answer, correct);
        });
    }
    renderQuestions();
</script>
</html>