<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <title th:text="${exam.title}">Bài kiểm tra:</title>
</head>
<body>
    <header class="text-center">
        <h1 th:text="${'Bài kiểm tra: ' + exam.title}"></h1>
        <h4 th:text="${'Thời gian diễn ra: ' + startDate + ' đến ' + endDate}"></h4>
        <h5 th:text="${'Thời gian làm bài: ' + exam.totalTime / 60 + ' phút'}"></h5>
        <p th:text="${exam.description}"></p>
    </header>

    <!-- content -->

    <div class="container text-center">
        <div th:switch="${role}">
            <div th:case="'TEACHER'">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-target="#questionModal"
                        onclick="$('#questionModal').show()">
                    Thêm câu hỏi
                </button>
                <!-- Modal -->
                <div class="modal" id="questionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="questionModalLabel">Thêm câu hỏi</h1>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <h4>Câu hỏi</h4>
                                    <textarea id="q-des" class="form-control" placeholder="Câu hỏi" required></textarea>
                                </div>
                                <div class="mt-2">
                                    <h5>Các đáp án </h5>
                                    <ul class="text-left">
                                        <li>
                                            Đáp án 1: <input class="form-control q-ans">
                                        </li>
                                        <li>
                                            Đáp án 2: <input class="form-control q-ans">
                                        </li>
                                        <li>
                                            Đáp án 3: <input class="form-control q-ans">
                                        </li>
                                        <li>
                                            Đáp án 4: <input class="form-control q-ans">
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-1">
                                    <h5>Đáp án đúng</h5>
                                    <select id="q-correct">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        onclick="$('#questionModal').hide()">Huỷ</button>
                                <button type="button" class="btn btn-primary" onclick="postQuestion()">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question list -->
                <ul th:each="question: ${questions}">
                    <li>
                        <h5 th:text="${question.description}"></h5>
                        <ul>
                            <li>
                                <div class="input-group-text">
                                    <input type="checkbox">
                                    <span th:text="${question.answer}"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var examination = [[${exam}]];
                    /*]]>*/
                </script>
                <script type="text/javascript">
                    function postQuestion(){
                        description = $('#q-des').val();
                        answers = $('.form-control.q-ans');
                        answer = [...answers.map((idx, answer) => answer.value)].join('#~~~#');
                        correctAnswer = $('#q-correct').val();
                        question = {
                            description,
                            answer,
                            correctAnswer,
                            examination,
                        }
                        fetch("/api/question/add", {
                            method: 'POST',
                            headers: {
                              'Accept': 'application/json',
                              'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(question),
                        }).then(res => console.log(res.ok));
                    }
                </script>
            </div>
            <div th:case="'STUDENT'">
                <h1>student</h1>
            </div>
        </div>
    </div>
    <form class="">

    </form>
</body>
</html>