<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="wrapForm">
    <form th:action="@{/sign-in}" method="post" class="formContainer">
      <h3 class="heading">Đăng nhập</h3>
      <div th:if="${error}"><span th:text="${error}" style="color: red;"></span></div>
      <div th:if="${logout}"><span th:text="${logout}" style="color: chartreuse;"></span></div>
      <label id="tk">Tài khoản</label>
      <input type="text" name="username" class="inputInfo">

      <label id="mk">Mật khẩu</label>
      <input type="password" name="password" class="inputInfo">
      <label>Nhớ mật khẩu</label>
      <input type="checkbox" name="remember-me" class="inputInfo">
      <input type="submit" value="Đăng nhập" class="inputSubmit">

      <p>Bạn chưa có tài khoản , hãy đăng kí ngay tại</p>
      <a th:href="@{/register}" >Đăng kí ngay</a>
    </form>

  </div>
</div>
</body>
</html>