<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <title th:text="${exam.title}"></title>
</head>
<body>
    <header class="text-center">
        <h1 th:text="${'Bài kiểm tra: ' + exam.title}"></h1>
        <h4 th:text="${'Thời gian diễn ra: ' + startDate + ' đến ' + endDate}"></h4>
        <h5 th:text="${'Thời gian làm bài: ' + exam.totalTime / 60 + ' phút'}"></h5>
        <p th:text="${exam.description}"></p>
    </header>

    <div th:switch="${done}">
        <div th:case="true" class="text-center">
            <h3>Bài kiểm tra dđã kết thúc, bạn có thể xem kết quả ở đây</h3>
            <a th:href="@{'/examination/' + ${exam.id}} + '/results'">
                <button type="button" class="btn btn-primary">Kết quả</button>
            </a>
        </div>
        <div th:case="false">
            <div class="text-center">
                <button type="button" class="btn btn-info">
                    <span id="cooldown" th:data-remain="${remain}"
                          th:text="'Bắt đầu đếm ngược'"
                    ></span>
                </button>
            </div>
            <div class="mt-3">
                <ul id="question-list" class="list-group d-flex justify-content-center px-5">
                    <li class="list-group-item question mt-5 pb-5 px-5 bg-light" th:each="question: ${questions}"
                        th:data-description="${question.description}"
                        th:data-answer="${question.answer}" th:data-id="${question.id}"
                    >
                    </li>
                </ul>
            </div>
            <form class="text-center" method="post" th:oject="${questionWrapper}">
                <div th:each="question, stat: ${questionWrapper.questions}">
                    <input hidden th:value="${question.id}" th:name="|questions[${stat.index}].id|">
                    <input hidden class="answer-form" th:data-id="${question.id}" th:value="0" th:name="|questions[${stat.index}].correctAnswer|">
                </div>
                <input type="submit" class="btn btn-danger m-5" value="Nộp bài"/>
            </form>
        </div>
    </div>

</body>
<script>
    function renderQuestion(ele, id, no, des, answer){
        answers = answer.split('#~~~#');
        html = `
        <div class="p-1">
          <div>
            <h4 class="text-primary">Câu hỏi số ${no}</h4>
            <p>${des}</p>
          </div>
          <ul class="text-left list-group" data-id="${id}">
            <li class="list-group-item">
                 <button type="button" class="btn btn-primary" value="1"
                 onclick="choose(this)">
                    Đáp án 1
                 </button>
                 <span>${answers[0]}</span>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" value="2"
                onclick="choose(this)">
                    Đáp án 2
                 </button>
                 <span>${answers[1]}</span>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" value="3"
                onclick="choose(this)">
                    Đáp án 3
                 </button>
                 <span>${answers[2]}</span>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" value="4"
                onclick="choose(this)">
                    Đáp án 4
                 </button>
                 <span>${answers[3]}</span>
            </li>
        </ul>
        </div>
        `;
        ele.html(html);
    }
    function renderQuestions(){
        $('.question').each(function(index){
            q = $(this);
            des = q.attr('data-description');
            answer = q.attr('data-answer');
            id = q.attr('data-id');
            renderQuestion(q, id, index + 1, des, answer);
        });
    }
    function choose(ele){
        ans = $(ele);
        value = ans.attr('value');
        list = ans.parent().parent();
        id = list.attr('data-id');
        $(`.answer-form[data-id="${id}"]`).attr('value', value);
        list.find('button').each(function(){
            btn = $(this);
            if(btn.attr('value')===value){
                btn.parent().css('background', 'green');
            }else{
                btn.parent().css('background', 'unset');
            }
        });
    }
    renderQuestions();
</script>
<script>
    cd = $('#cooldown');
    var distance = Number(cd.attr('data-remain'));
    var x = setInterval(function() {
      var hours = Math.floor(distance / (60 * 60));
      var minutes = Math.floor((distance % (60 * 60)) / 60);
      var seconds = Math.floor(distance % 60);

      cd.html(hours + " giờ " + minutes + " phút " + seconds + " giây");

      if (distance < 0) {
        clearInterval(x);
        cd.html('Hết giờ');
      }
      distance -= 1;
    }, 1000);
</script>
</html>