<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<section style="background-color: #eee;">
  <div class="container py-5">
    <a th:href="@{/}">
      <button class="btn btn-primary">
        Home
      </button>
    </a>
    <form method="POST" th:object="${profile}">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3" th:text="${profile.name}"></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tên đầy đủ</p>

              </div>
              <div class="col-sm-9">
                <input id="name" type="text" th:field="*{name}" name="name">
              </div>
              <span class="validationError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">CC Num Error</span>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input id = "email" type="email" th:field="*{email}" name="email">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Số điện thoại</p>
              </div>
              <div class="col-sm-9">
                <input id = "phoneNumber" type="text" th:field="*{phoneNumber}" name="phoneNumber">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sinh</p>
              </div>
              <div class="col-sm-9">
                <input id = "dateOfBirth" type="date" th:field="*{dateOfBirth}" name="dateOfBirth">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Địa chỉ</p>
              </div>
              <div class="col-sm-9">
                <input id = "address" type="text" th:field="*{address}" name="address">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhập</button>
          </div>
        </div>
      </div>
    </form>
  </div>
 
</section>
</body>
</html>