<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" th:href="@{/}">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link text-white">Hồ sơ</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/logout}" class="nav-link text-white">Đăng xuất</a>
          </li>
        </ul>
    </div>
</nav>
<section style="background-color: #eee;">
  <div class="container py-5">
    <form method="POST" th:object="${profile}">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3" th:text="${profile.name}"></h5>
              <span th:text="${'@' + profile.user.username}" class="text-primary"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="text-danger"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tên đầy đủ</p>
              </div>
              <div class="col-sm-9">
                <input id="name" class="form-control" type="text" th:field="*{name}" name="name">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input id="email" class="form-control" type="email" th:field="*{email}" name="email">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Số điện thoại</p>
              </div>
              <div class="col-sm-9">
                <input id="phoneNumber" class="form-control" type="text" th:field="*{phoneNumber}" name="phoneNumber">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sinh</p>
              </div>
              <div class="col-sm-9">
                <input id="dateOfBirth" class="form-control" type="date" th:field="*{dateOfBirth}" name="dateOfBirth">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Địa chỉ</p>
              </div>
              <div class="col-sm-9">
                <input id="address" class="form-control" type="text" th:field="*{address}" name="address">
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </div>
      </div>
    </form>
    <a th:href="@{/profile/reset-password}">
      <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </a>
  </div>
 
</section>
</body>
</html>