<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Đổi mật khẩu</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" th:href="@{/}">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/profile}" class="nav-link text-white">Hồ sơ</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link text-white">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <form method="post">
            <div th:if="${wrongPassword}" th:text="'Sai mật khẩu'" class="text-danger"></div>
            <div class="form-group">
                <label for="old-password">Mật khẩu cũ</label>
                <input type="password" required name="oldPassword" class="form-control" id="old-password">
            </div>
            <div th:if="${notMatched}" th:text="'Mật khẩu không khớp'" class="text-danger"></div>
            <div class="form-group">
                <label for="new-password">Mật khẩu mới</label>
                <input type="password" required name="newPassword" class="form-control" id="new-password">
            </div>
            <div th:if="${weak}" th:text="'Mật khẩu phải có ít nhất 6 kí tự'" class="text-danger"></div>
            <div class="form-group">
                <label for="new-password-2">Nhập lại mật khẩu mới</label>
                <input type="password" required name="newPassword2" class="form-control" id="new-password-2">
            </div>
            <button type="submit" class="btn btn-primary">Thay đổi</button>
            <div th:if="${success}" th:text="'Thay đổi thành công'" class="text-success"></div>
        </form>
    </div>
</body>

</html>